{
    "mud_name" : "ThresholdRPG",
    "mud_ip" : "127.0.0.1",
    "mud_port": 8181,
    "mud_retry_count": 5,
    "mud_retry_delay": 30000,
    "channels" : [
        { "discord" : "783942759576371200", "mud" : "trivia" },
        { "discord" : "844254742989373450", "mud" : "heritage" },
        { "discord" : "844254814518247444", "mud" : "question" }
    ],
    "strip_emoji" : true,
    "enable_bitly" : false,
    "largest_printable_string" : 65535
}
